[Unit]
Description=NMG League Bot

[Service]
StandardOutput=append:/var/log/nmg-league-bot.log
StandardError=append:/var/log/nmg-league-bot.log
WorkingDirectory=/opt/efs/nmg-league-bot
ExecStart=/opt/efs/nmg-league-bot/target/debug/nmg-league-bot
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
