@use 'common/colors';

body {
  background-color: colors.$body-bg-color;
  color: colors.$text-color;
}

nav a {
  color: colors.$text-color;
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: colors.$hr-color;
}
