@use 'common/colors';

h1#title {
  text-align: center;
  margin: 2rem 0 1rem;
  font-size: 4rem;
}

#text-container {
  margin: 1rem auto;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  text-align: justify;
  max-width: 800px;

  background: colors.$page-content-container-bg-color;
  border: 1px solid colors.$nav-bg-color;
  border-radius: 10px;
  box-shadow: 1px 1px 6px colors.$faint-black-box-shadow-color;

  div {
    margin: 1.5rem 0;
  }
}
