@use 'common/colors';

nav#top-nav {
  background-color: colors.$nav-bg-color;
  display: flex;
  align-items: stretch;
  box-shadow: 0 0 5px colors.$faint-black-box-shadow-color;

  .nav-item {
    padding-top: 0.85rem;
    padding-bottom: 0.7rem;
    border-bottom: 4px solid transparent;

    transition-property: background-color, border-color;
    transition-timing-function: linear;
    transition-duration: 100ms;
  }

  .nav-item:hover {
    border-color: colors.$nav_hover-underline-color;
    background-color: colors.$nav_hover-bg-color;
  }

  .nav-main-logo {
    font-size: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .nav-generic-item {
    padding-left: 1rem;
    padding-right: 1rem;

    span {
      vertical-align: sub;

      // Vertical align fix for firefox
      vertical-align: -moz-middle-with-baseline;
    }
  }
}
