<!DOCTYPE HTML>
{% block templates %}
{% endblock %}
<html lang="en">
	<head>
	    <title>{% block pagename %}{% endblock %} | NMG League</title>
		<link rel="stylesheet" type="text/css" href="/static/css/tailwind.css">
		<link rel="icon" href="/favicon.ico" sizes="any">
	    {% block scripts %}
	    {% endblock %}
	</head>
	<body class="bg-sky-400">
        <div class="bg-sky-600 h-7">
            <div class="flex text-indigo-900">
                <div class="flex md:w-1/5">
                </div>
                <div class="flex flex-auto">
                    <a href="/">home</a>
                </div>
                {% if base_context.current_season %}
                <div class="flex flex-auto">
                    <a href="/season/{{base_context.current_season.id}}">Current season</a>
                </div>
                {% endif %}
                <div class="flex flex-auto">
                    <a href="/seasons">history</a>
                </div>
                <div class="flex md:w-1/5">
                    {% if base_context.admin %}
                        <a href="/asyncs">asyncs</a>
                    {% endif %}
                </div>
            </div>
            {# header #}
        </div>
        {% block body %}
        {% endblock %}
	</body>
</html>