{% extends "base" %}

{% import "macros" as macros %}
{% block pagename %}{% if player %}{{ player.name }} Detail{% else %}Player not found{% endif %}{% endblock %}
{% block body %}
Player not found.
{% endblock %}