{% extends "season_base" %}

{% import "macros" as macros %}

{% block pagename %}{{season.format}} Brackets{% endblock %}
{% block season_body %}
<ul class="list-disc" >
{% for bracket in brackets %}
  <li title="Bracket id#{{ bracket.id }}">
    {{ macros::link(href=bracket.url, text=bracket.name) }}
  </li>
{% endfor %}
</ul>
{% endblock %}
