@use '../common/colors';

#season-sub-page {
  // Bracket list page
  ul {
    margin: 1rem 0;
    padding: 0 1rem;
  }

  // Bracket detail page
  #bracket-detail-page {
    #bracket-title {
      font-size: 1.8rem;
      margin: 1rem 0.5rem;
    }

    hr#bracket-title-separator {
      background-color: colors.$season-table-header-color;
    }

    .bracket-round-container {
      margin: 1rem 0 2rem;

      .bracket-round-number {
        font-size: 1.4rem;
        margin: 1rem 0.5rem;
      }

      td.winner-cell {
        background-color: colors.$winner-cell-bg-color;
      }

      td.loser-cell {
        background-color: colors.$loser-cell-bg-color;
      }

      span.race-not-scheduled-text {
        font-size: 0.95rem;
        font-style: italic;
        color: colors.$subdued-text-color;
      }

      span.race-complete-text {
        font-size: 0.95rem;
        font-style: italic;
        font-weight: bold;
        color: colors.$race-complete-text-color;
      }
    }
  }
}
