@use '../common/colors';

#season-sub-page {

  // Brackets list page
  ul {
    margin: 1rem 0;
    padding: 0 1rem;
  }

  // Bracket detail page
  #bracket-detail-page {
    span.race-scheduled-text {
      color: colors.$mellow-text-color;
    }

    span.race-not-scheduled-text {
      font-size: 0.97rem;
    }

    span.race-complete-text {
      font-style: italic;
      font-weight: bold;
      color: colors.$race-complete-text-color;
    }

    span.empty-restream-link {
      color: colors.$subdued-text-color;
    }

    div.backfill-note {
      margin: 1rem 0.5rem 0.5rem 0.5rem;
    }
  }
}