@use '../common/colors';

#season-sub-page {
  div#qualifiers {

    #qualifiers-title-container {
      margin: 1rem 0.5rem 0.75rem;
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      #qualifiers-title {
        font-size: 2rem;
      }

      #toggle-obsolete-button {
        min-width: 9.5rem;
        padding: 0.6rem 1.2rem;
        background-color: colors.$toggle-button-bg-color;
      }
    }

    table tbody {
      tr td {
        border-top: 1px solid colors.$season-table-column-border-color;
      }

      // Override alternating colors since half of the rows are obsolete and hidden by default
      tr:nth-child(even) {
        background: colors.$season-table-bg-color;
      }

      tr.obsolete-qualifier-times {
        background-color: colors.$obsolete-qualifier-row-color;
        font-size: 0.8rem;
        font-style: italic;

        td {
          border-top: none;
        }

        td.time {
          text-decoration: line-through;
        }
      }

      tr:not(.obsolete-qualifier-times) + tr.obsolete-qualifier-times td {
        border-top: 1px solid colors.$season-table-column-border-color;
      }
    }
  }
}
