@use '../common/colors';

#season-sub-page {
  div#qualifiers {
    margin: 1rem 0 2rem;

    #qualifiers-title-container {
      margin: 1rem 0.5rem 0.75rem;
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      #qualifiers-title {
        font-size: 2rem;
      }

      #toggle-obsolete-button {
        min-width: 9.5rem;
        padding: 0.6rem 1.2rem;
        background-color: colors.$toggle-button-bg-color;
        box-shadow: 1px 1px 3px colors.$faint-black-box-shadow-color;
        transition: background-color linear 100ms, box-shadow linear 100ms;
      }

      #toggle-obsolete-button:hover {
        background-color: colors.$toggle-button_hover-bg-color;
        box-shadow: 1px 1px 2px colors.$faint-black-box-shadow-color;
      }

      #toggle-obsolete-button:active {
        background-color: colors.$toggle-button_active-bg-color;
        box-shadow: inset 0 0 1px black;
      }
    }

    table tbody {
      tr {
        border: 1px solid colors.$season-table-column-border-color;
      }

      // Override alternating colors since half of the rows are obsolete and hidden by default
      tr:nth-child(even) {
        background: colors.$season-table-bg-color;
      }

      tr.obsolete-qualifier-times {
        background-color: colors.$obsolete-qualifier-row-color;
        font-size: 0.8rem;
        font-style: italic;
        border: none;

        td.time {
          text-decoration: line-through;
        }
      }
    }
  }
}
