@use '../common/colors';

#season-container {
  width: 90%;

  .page-title-container {
    padding: 0 3rem;

    .title {
      font-size: 3rem;
    }

    nav#season-nav {
      display: flex;

      .nav-item {
        padding: 1rem 1.5rem;
      }
    }
  }

  #season-sub-page {
    padding: 1px 3rem;

    div.stats-container {
      margin: 1rem 0 2rem;
    }

    div.placeholder-message-banner {
      margin: 1.2rem 0;
      font-size: 1.2rem;
      text-align: center;
    }

    hr.template-item-separator {
      margin: 2rem 0 1.5rem;
    }

    hr.template-item-separator:last-of-type {
      display: none;
    }
  }
}
