@use '../common/colors';

#season-container {
  .page-title-container {
    nav#season-nav {
      display: flex;

      .nav-item {
        padding: 1rem 1.5rem;
      }
    }
  }

  #season-sub-page {
    div.stats-container {
      // Adds proper margin to the bottom of the standings and quals pages
      margin: 1rem 0 2rem;
    }

    div.placeholder-message-banner {
      margin: 1.2rem 0;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
