#season-sub-page {
  #standings-page-container {
    .bracket-standings-container {
      margin: 1.25rem 0;

      .bracket-title {
        font-size: 1.75rem;
        margin: 0 0.5rem 1rem;
      }
    }
  }
}
