@use '../common/colors';

#season-sub-page {
  #standings-page-container {
    .bracket-standings-container {

      .bracket-title {
        font-size: 1.75rem;
        margin: 1.2rem 0.5rem;
      }

      span.without-forfeits {
        font-size: 0.85rem;
      }
    }
  }
}
